* {
    box-sizing: border-box;
    outline: none;
    font-family: 'Righteous';
}

html {
    overflow-y: scroll;
}

h1,
h2 {
    text-align: center;
    font: 700 32px;
    width: 312;
    justify-content: center;
}

a {
    color: #ffffff;
    font: 400 12px 'Inter', sans-serif;
    display: flex;
    text-align: left;
    align-items: center;
    font-weight: 256px;
    margin-top: 5%;
}

img {
    max-width: 100%;
}

body {
    background: #051726;
    display: flex;
    flex-direction: column;
    height: 350vh;
}

div {
    display: flex;
}

.frame {
    padding: 64 128px;
    width: 100%;
    align-items: center;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
}

.header-container {
    padding: 0 40px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    flex-direction: row;
    height: 5%;
    background: #051726;
    z-index: 1;
}

.first-body {
    height: 35%;
    background: #d2e823;
}

.second-body {
    height: 35%;
    background: #c3ddf8;
}

.third-body {
    flex-direction: column;
    height: 35%;
    background: #e9c0e9;
    gap: 10px;
}

.bottom-container {
    height: 10%;
    background: #051726;
}

.first-body-header {
    color: #254f1a;
}

.second-body-header {
    color: #061492;

}

.third-body-header {
    color: #502274;
}

ul {
    padding: 48px;
    list-style-type: none;
}

ul li {
    padding: 28px;
    padding-right: 256px;
    background: #9f7bb9;
    color: #502274;
    margin: 20px;
    border-radius: 12px;
}

.button-container {
    display: flex;
    align-content: center;
    flex-direction: row;
}

a.button:link,
a.button:visited {
    background-color: #81FFD9;
    color: black;
    margin-right: 3%;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a.button:hover,
a.button:active {
    background-color: #3fc19a;
}

div.logo-container {
    align-items: center;
}

.logo {
    width: 264px;
    height: 96px;
}

.brand-image {
    width: 270;
    height: 480;
}

.bottom-logo {
    width: 264px;
    height: 96px;
}

a:link,
a:visited {
    text-decoration: none;
}

a:hover,
a:active {
    color: #81FFD9;
    text-decoration: underline;
}

.link-container {
    width: auto;
    align-content: center;
    justify-content: flex-start;
    flex-direction: column;
}